<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UCR Club Search</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="favicon.ico" /> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Meta description -->
    <meta
      name="description"
      content="A discovery engine that finds the UCR club that fits you the most"
    />
  </head>
  <body>
    <header>
      <h1>header</h1>
    </header>

    <main>
      <p>body</p>
    </main>

    <footer>
      <p>&copy; 2025 Team Hackathon ninjas</p>
    </footer>

    <!-- JavaScript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
