<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Highlander OrgQuest - Main</title>

    <!-- Favicon -->
    <!-- <link rel="icon" href="favicon.ico" /> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Meta description -->
    <meta
      name="description"
      content="A discovery engine that finds the UCR club that fits you the most."
    />
  </head>
  <body>
    <header>
      <h1>Highlander OrgQuest</h1>
    </header>

    <main>
      <h1>Connect. Create. Thrive.</h1>
      <p>
        Find the student organizations that help you connect, grow, and belong
        at UCR.
      </p>

      <button onclick="location.href='/questions'">Find My Org</button>
      <button>Show all Orgs</button>

      <div>
        <input id="search" />
        <button onClick="send()">Search</button>
      </div>

      <div id="results"></div>
    </main>

    <footer>
      <h1>About this Website</h1>
      <p>
        This website was created for CutieHack to help students easily discover
        the organizations that match their interests. With a simple and
        intuitive interface, users can browse through UCR's student
        organizations and quickly find communities they want to join. Whether
        you're looking for professional development, cultural groups, or social
        clubs, this platform streamlines the search process. Our goal is to make
        getting involved on campus easier, faster, and more enjoyable for every
        student.
      </p>
      <p>&copy; 2025 Team Hackathon ninjas</p>
    </footer>

    <!-- JavaScript -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
